
body {
	direction: rtl;
	text-align: right;
	overflow: auto;
	background-color: #ECEFF1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
@font-face {
  font-family:"DubaiFont";
  src:url('/fonts/DubaiW23-Regular.woff');}

.clear{clear: both;}

/*--------------------------------------------------------------
1.0 Navigation Bar 
--------------------------------------------------------------*/
.navbar{
	font-family:'DubaiFont';
	height: 70px;
	position:absolute;
	width: 100%;}

.navbar-toggler-icon{
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}

.navbar a{
	color: #fff;
	font-family:DubaiFont;}

#majara-logo{
	font-size: 40px;
	font-weight: 700;
	line-height: 30px;
	font-family: DubaiFont;
	color: #fff;
	padding-bottom: 20px;}

.nav-link{
	font-family:'DubaiFont';
	color: #fff;
	font-size: 17px;}

#nav-add-source-btn{
	background-color: #fff;
	color: #00F;
	line-height: 20px;
}
#nav-add-source-btn:hover{
	transform: translateY(-5px);
}

@media screen and (max-width:980px) {
	#nav-add-source-btn{display: none}
	#majara-logo{text-align: center;}
	.nav-buttons{text-align: center;}
}



/*--------------------------------------------------------------
1.0 Header
--------------------------------------------------------------*/
header {
	color: #fff;
	background: #1A237E url("../images/bg-wide@2x.jpg") no-repeat center;
	background-size: cover;
	font-family:DubaiW23-Regular;
}

.header-lg {
	padding: 220px 0 100px 0;
}

#path-pic{
	max-width: 100%;
	width: 100px;
	height: 100px;
	border-radius: 5%;
	display: inline-block;
}
.path-info{
	display: inline-block;
}
#source-info p{
	display: inline-block;
}


/*--------------------------------------------------------------
3.0 Path Courses 
--------------------------------------------------------------*/
#courses-list{
	margin-top: -50px;
}
#courses-list h5{
	display: inline-block;
}
#courses-list .card{
	margin-bottom: 4%;
	box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#rank{
	background-color: #ECEFF1;
	border-radius: 10%;
	text-indent: 2%;
	height: 70px;
	width: 50px;
	padding-right: 29%;
	padding-top: 15%;
}
.profile-Pic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #000;
	display: inline-block;
}
#added{
	display: inline-block;
}
.add-by{
	display: inline-block;
}
#comments{
	display: inline-block;
}
.hash-list{
	display: inline-block;
}
#save-it{
	float: left;
}
/*--------------------------------------------------------------
4.0  filter box
--------------------------------------------------------------*/
#filter-box{
	margin-top: -50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	text-indent: 15px;
	border-radius: 2%;


}
.form-check-label{
	margin-right: 5%;
}

/*--------------------------------------------------------------
5.0 Intersts 
--------------------------------------------------------------*/
#intersets{
	padding-top: 30px;
	padding-bottom: 30px;
}
#intersets h4{
	padding-top: 20px;
	padding-bottom: 20px;
}
#intersets .card-img{
	margin-top: 10%;
	margin-right: 10%;
	border-radius: 10%;
}
























/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/

.footer-content {
	padding: 30px 0;
	border-top: 1px solid #B0BEC5;
	color: #546E7A;
}
.footer-logo {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: 700;
	color: #546E7A;
	vertical-align: middle;
}
.footer-logo:hover {
	color: inherit;
	text-decoration: none;
}
.footer-list {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-list li {
	display: inline-block;
	margin-left: 25px;
	margin-bottom: 5px;
}
.footer-list a {
	color: #546E7A;
}
.footer-list li:last-child {
	margin-left: 0;
}
.credits {
	margin-top: 20px;
	margin-bottom: 0;
	color: #78909C;
}
.credits a {
	color: inherit;
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.footer-logo {
		margin-left: 30px;
		margin-bottom: 0;
	}
	.footer-list li {
		margin-bottom: 0;
	}
}